/Processing/orb_plot_progression/spherePlot007_oop_java/application.windows64/JavaApplication2/nbproject/private/
/Processing/orb_plot_progression/spherePlot007_oop_java/application.windows64/JavaApplication2/build/
/Processing/orb_plot_progression/spherePlot006_oop_java/application.windows64/JavaApplication3/nbproject/private/
/Processing/orb_plot_progression/spherePlot006_oop_java/application.windows64/JavaApplication3/build/